<p>
  <b>Nom:</b>
  <%= @question.name %>
</p>
<p>
  <b>Catégorie:</b>
  <%= Category.find(@question.category_id).name %>
</p>


<%= link_to 'Editer', edit_question_path(@question) %> |
<%= link_to 'Retour', questions_path %>
