<div class="hero-unit">
  <h1>Bienvenue</h1>
  <br />
  <p>Cette nouvelle plate-forme vous permet d'évaluer vos pairs dans le cadre des projets S7/S8.
  <p>Actuellement en phase de test, merci d'apporter vos remarques à Ruben.Gonzalez-Rubio@USherbrooke.ca ou à M.David@Usherbrooke.ca</p>
  <br />
  <%= link_to "Accédez à l'évaluation par les pairs »", home_path, {:class => "btn btn-primary btn-large"} %>
</div>