/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

tr, td, th {
    border: 1px solid;
    padding:10px;
    margin:0px;
}

li.import_error {
    color:#FF0000;
}
li.import_success {
    color:#006600;
}

.question {
    padding-bottom: 10px;
}
.question_student_0, .question_student_1 {
    text-align: center;
    border: 0px solid #000000;
    width: 150px;
    display : inline-block;
    height: 45px;
}

.question_student_0 {
    background-color : #CDEB8B;
}
.question_student_1 {
    background-color : #C3D9FF;
}

.question_libelle {
    border: 0px solid #000000;
    padding: 5px;
    margin-bottom: 4px;
    font-size: 18px;
    /*background-color: #F9F7ED; */
}

.text_field_center {
    text-align: center;
}

.btn-primary {
  color: #FFFFFF !important;
}