/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

tr, td, th {
    border: 1px solid;
    padding:10px;
    margin:0px;
}

li.import_error {
    color:#FF0000;
}
li.import_success {
    color:#006600;
}

.question {
    padding-bottom: 10px;
}
.question_student_0, .question_student_1 {
    text-align: center;
    border: 0px solid #000000;
    width: 150px;
    display : inline-block;
    height: 45px;
}

.question_student_0 {
    background-color : #CDEB8B;
}
.question_student_1 {
    background-color : #C3D9FF;
}

.question_libelle {
    border: 0px solid #000000;
    padding: 5px;
    margin-bottom: 4px;
    font-size: 18px;
    /*background-color: #F9F7ED; */
}

.text_field_center {
    text-align: center;
}

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.simple_form label {
  float : left;
  width: 150px;
  text-align: right;
  margin : 2px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 170px;
}

.simple_form div.boolean label {
  float : none;
  margin: 0;
}