<p>Bonjour <%= @resource.email %>!</p>

<p>Une demande de renouvellement de mot de passe a été faite.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Merci.</p>
