<%= link_to "Accueil", home_path, :class => 'brand' %>


<% if user_signed_in? %>
    <ul class="nav">
      <li>
        <%= link_to('Se déconnecter', destroy_user_session_path, :method=>'delete') %>
      </li>
    </ul>
    <p class="navbar-text pull-right"><%= current_user.real_name %></p>
<% end %>
